// @import "./variables";

.form-input {
  width: 90%;
  border-radius: 50%/350%;
  padding: 6%;
}

.form-buttons {
  width: 90%;
  border-radius: 50%/350%;
  padding: 3%;
  border: none;
  color: white;
}

.rmc-logo {
  width: 70%;
  height: 30vh;
}

.input-container {
  padding: 15px 0;
}

.carousel-image {
  object-fit: cover;
  height: 450px;
  max-width: 100%;
}

hr {
  width: 80%;
}

@media #{$small-device} {
  .form-input {
    width: 70%;
    padding: 4%;
  }

  .form-buttons {
    width: 70%;
    padding: 2%;
    border: none;
    color: white;
  }

  .rmc-logo {
    width: 60%;
  }

  hr {
    width: 70%;
  }

  .image-holder {
    display: none;
  }

  .input-container {
    padding: 40px 0;
  }
}

@media #{$medium-device} {
  .form-input {
    width: 65%;
    padding: 4%;
  }

  .form-buttons {
    width: 65%;
    padding: 2%;
    border: none;
    color: white;
  }

  .rmc-logo {
    width: 55%;
  }

  hr {
    width: 65%;
  }

  .image-holder {
    display: block;
  }
}
