$extra-small-device: "only screen and (max-width: 600px)";
$small-device: "only screen and (min-width: 600px) ";
$medium-device: "only screen and (min-width: 768px)";
$large-device: "only screen and (min-width: 992px) ";
$extra-large-device: "only screen and (min-width: 1200px)";
$ultra-large-device: "only screen (min-width: 1441px)";
$gold-color: #e2b654;
