@import "./variables";
@import "./login";

.debugger {
  border: 2px solid red;
}

.flex {
  display: flex;
}

.flex-center {
  margin: auto;
}

.fullheight {
  height: 100vh;
}

.form-container {
  width: 700px;
  height: 450px;
  border-radius: 1%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 70px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 70px 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 70px 10px rgba(0, 0, 0, 0.6);
}

.hr-white {
  border-color: white;
  margin: 15px auto 10px auto;
}

.gold-background {
  background-color: $gold-color;
  color: black;
}

.black-background {
  background-color: #1e1e1e;
}

li {
  list-style: none;
  font-size: 12px;
}

// Media Queries
@media #{$extra-small-device} {
  .form-container {
    width: 100%;
    height: fit-content;
    -webkit-box-shadow: 0px 0px 40px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 40px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 40px 3px rgba(0, 0, 0, 0.6);
  }

  .image-holder {
    display: none;
  }
}
